* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #feca57;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5rem 0;
}
